.body {
  background-color: black;
  padding: 0;
  color: azure;
}

.title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 900; /* Ajustado a un valor válido */
  font-style: normal;
  text-align: center;
  padding-top: 20px;
  animation: flicker 4s infinite;
}

@keyframes flicker {
  0% {
    opacity: 1;
    text-shadow: 0 0 5px rgba(255, 139, 139, 0.5); /* Efecto de luz roja */
  }
  50% {
    opacity: 0.5;
    text-shadow: 0 0 10px rgba(130, 130, 129, 0.986); /* Intensidad de luz aumentada */
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 5px rgba(245, 213, 213, 0.5); /* Efecto de luz roja */
  }
}

.imgHost {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  width: 20%;
  border-radius: 10px;
}

.caption,
.aboutP {
  padding-top: 10px;
  text-align: center;
  color: aliceblue;
}
.aboutP {
  padding-top: 10px;
  text-align: center;
  color: aliceblue;
}


.chapters {
  border: 2px solid wheat;
  height: 450px;
  width: 95%;
  margin-left: 50px;
  margin-top: 50px;
}


.imgChapterOne {
  width: 20%;
  height: 20%;
  border-radius: 30px;
  margin-left: 70px;
  padding-bottom: -70px;
 
}

.titleChapters {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.textElements{
  border: 2px solid wheat;
  width: 820px;
  height: 300px;
  margin-left: 400px;
  margin-top: -300px;
  padding-top: 20px;
  text-align: center;


}
/*
.chapterOne {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.h2ChapterOne {
  margin-bottom: 220px;
  margin-left: 50px;
  border: 2px solid white;
}

.descriptionChapterOne {
  padding-left: 350px;
}
